<title>LITReview login</title>

{% extends 'base.html' %}
{% block content %}
<div class="two-col-container">
    <div class="box post_box">
        <p>Inscrivez-vous maintenant</p>
        <button onclick="window.location.href={% url 'signup' %}">S'inscrire</button>
    </div>
    <div class="box post_box">
        <p>Connectez-vous</p>
        <p>{{ message }}</p>

        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Se connecter</button>
        </form>
        
    </div>    
</div>
    
{% endblock content %}