{% load static %}
<nav class="nav">
    <!-- <a href="{% url 'feed' %}"><img src="{% static 'img/LITReview_logo.png' %}" alt="LITReview_logo" width="50px"></a> -->
    <div style='text-align:center;'>
        {% if user.is_authenticated %}
            <a href="{% url 'feed' %}"><i class="fa fa-home"> Home</i></a>
            <a href="{% url 'posts' %}"><i class="fa fa-edit"> Posts</i></a>
            <a href="{% url 'subscriptions' %}"><i class="fa fa-users"> Subscriptions</i></a> 
            <!-- fa-people-arrows -->
            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"> Log out</i></a>
            <!-- Souhaitez-vous <a href="{% url 'password_change' %}">changer votre mot de passe</a> ? -->
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </div>
</nav>