<div class='box post_box'>
    <div>
        <p class="post_timecreated" style="float: left;">
            {% if post.user == user %}
                Vous avez demandé une critique
            {% else %}
                {{ post.user }} a demandé une critique
            {% endif %}
        </p>
        <p class="post_timecreated">{{ post.time_created }}</p>
    </div>

    <div style="display: flex; width: 100%">
        {% if post.image %}
            <img class="ticket_img" src="/media/{{ post.image }}" alt="{{ post.title }}" width="200px">
        {% endif %}
        <div class="ticket_text">
            <h3>{{ post.title }} </h3>        
            <p>{{ post.description|safe }}</p>

            {% if request.path_info == "/feed" %}
                {% if post.has_review %}
                    <button><a href="{% url 'review' ticket_id=post.id %}">Lire la critique de {{ post.has_review.user }}</a></button>
                {% else %}
                    <button><i class="fa fa-pencil" style="font-size: 16px;"><a href="{% url 'review' ticket_id=post.id %}"> Ecrire une critique </a></i></button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if editable %}
        <form action=""  method="post">
            {% csrf_token %}
            {{ deleteticket_form }}
            <button><a href="{% url 'ticket' ticket_id=post.id %}">Modifier</a></button>
            <button type="submit" name="ticket_id" value="{{ post.id }}" onclick="return confirm('Supprimer ce ticket ?')">Supprimer</button>
        </form>
    {% endif %}
</div>