{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="container">            
            <div class="inside_container">                
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
    {% include 'includes/footer.html' %}
</html>