{% extends 'base.html' %}
{% block content %}
<h1>Vos posts</h1>

{% for post in posts %}
    {% if post.content_type == 'TICKET' %}
        {% include 'reviews_webapp/includes/ticket_snippet.html' with editable=True %}
        <!-- <button onclick='ThrowConfirmationAlert("{{ request.path }}");'>Supprimer</button> -->
        
    {% elif post.content_type == "REVIEW" %}
        {% include 'reviews_webapp/includes/review_snippet.html' with editable=True %}
    {% endif %}

{% endfor %}


{% endblock content %}