{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Suivre d'autres utilisateurs</h1>

    <div class="box follow_box">
        <h3>Abonnements</h3>
        <p>
            <form method="post"> 
                {{ form.non_field_errors }}
                {% csrf_token %}
                {{ form.username.errors }}
                {{ form.username }}
                <input type="submit"/>                
            </form>
            <p class="error_message">{{ error_message }}</p>
        </p>
        <table>
            {% for relationship in subscriptions %}
                <tr>
                    <td class="friend-box">{{ relationship.followed_user.username }}</td>
                    <td>
                        <form action="{% url 'subscriptions' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" value="{{ relationship.id }}" name="unsubscribe_id" method="post"><i class="fa fa-close"></i></button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

    <div class="box follow_box">
        <h3>Abonnés</h3>
        <table>
            {% for relationship in subscribers %}
            <tr>
                <td class="friend-box">{{ relationship.user }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}